#favor-card {
    border:black solid 1px;
    border-radius:5px;
    height:250px;
    margin-right:25px;;
    padding:20px;
    width:300px;
    margin-right:25px;
 display:block;
//  flex-direction:column;
  }
  
  #favor-card-body {
    width:100%;
  }
  
  .favor-card-header{
  text-align:left;
  margin:0;
  color:black;
  word-wrap: break-word;
  font-size:20px;
  font-weight:900;
  }
  
  .favor-card-text{
    text-align:left;
    margin:0;
    overflow: auto;
    color:black;
    // display:inline-block;
    word-wrap: break-word;
    font-size:14px;
    white-space: wrap;
  
  }
  
  #favor-card-img{
      display: block;
      max-width:100;
      max-height:100px;
      width: auto;
      height: auto;
  }