#edit-favors-container{
    margin-top:50px;
    margin-bottom:50px;
}

#favor-edit-wrapper{
    background-color:rgba(255,255,255,8.5);
    padding:20px;
    border: 1px black solid;
    border-radius:15px;
    width:100%;
    margin-bottom:50px;
    min-height:450px;
}

#edit-form-textarea{
    width:100%;
    margin-bottom:25px;
}