footer{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:white;
    height:50px;
    margin-top:75px;
    width:100%;
    
}

h5#footer{
    font-size:10px;
    margin:0;
}