nav {
  font-family: "Satisfy", cursive;
  height: 85px;
  background-color:rgba(255,255,255,.85);
}

a.navbar-brand#cos {
  font-size: 32.5px;
}

a.navbar-brand {
  font-size: 15px;
}

#navbar-items {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
}


@media only screen and (max-width: 460px) {
  a.navbar-brand {
    font-size: 12px;
  }
}