nav{
    font-family: 'Satisfy', cursive;
    height:85px;
    font-size:40px;
}

a#signup.navbar-brand{
    font-family: 'Raleway', sans-serif;
    font-size:15px;
}

a#login.navbar-brand{
    font-family: 'Raleway', sans-serif;
    font-size:15px;
}

a.navbar-brand#cos{
    font-size:32.5px;
}

#signup-login{
    display:flex;
    justify-content:flex-end;
}